<?xml version="1.0" encoding="UTF-8"?>

<!-- <!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true"
xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="file" class="org.apache.log4j.RollingFileAppender">
	   <param name="append" value="false" />
	   <param name="maxFileSize" value="500KB" />
	   <param name="maxBackupIndex" value="15" />
	   For Tomcat
	   <param name="file" value="${catalina.home}/logs/myStruts1App.log" />
	   <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" 
			value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
	   </layout>
	</appender>

	<root>
		<level value="ERROR" />
		<appender-ref ref="file" />
	</root>

</log4j:configuration> -->


 <RollingFile name="RollingFile" fileName="${log-path}/Vshoppers.log"
                 filePattern="${log-path}/Vshoppers_%d{yyyy-MM-dd}_%i.log">
        <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
        <PatternLayout>
            <pattern>%level\t%d{yyyy-MM-dd HH:mm:ss} %c: %m%n</pattern>
        </PatternLayout>
        <Policies>
            <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            <SizeBasedTriggeringPolicy size="1 MB" />
            <OnStartupTriggeringPolicy/>
        </Policies>
    </RollingFile>